body {
  margin: 0;
  line-height: normal;
}
.rectangle-div409 {
  position: absolute;
  top: 2985px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 524px;
}
.download-1-icon6,
.visa-1-icon6 {
  position: absolute;
  top: 3451px;
  left: 1177px;
  width: 40px;
  height: 26px;
  object-fit: cover;
}
.visa-1-icon6 {
  top: 3446px;
  left: 1283px;
  width: 39px;
  height: 36px;
}
.download-1-16,
.paypal-1-icon6,
.shakerx-baner-black-en-1-icon6 {
  position: absolute;
  top: 3451px;
  left: 1231px;
  width: 38px;
  height: 26px;
  object-fit: cover;
}
.download-1-16,
.shakerx-baner-black-en-1-icon6 {
  left: 1124px;
  width: 39px;
}
.shakerx-baner-black-en-1-icon6 {
  top: 2016px;
  left: 119px;
  width: 1203px;
  height: 218px;
}
.want-to-sell-your-products-on6 {
  position: absolute;
  top: 2053px;
  left: 153px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
}
.ezgif-1-icon6,
.rectangle-div410 {
  position: absolute;
  left: 118px;
  width: 1204px;
}
.ezgif-1-icon6 {
  top: 205px;
  height: 500px;
  object-fit: cover;
}
.rectangle-div410 {
  top: 705px;
  background-color: var(--color-gray-2800);
  height: 45px;
}
.line-div188 {
  position: absolute;
  top: 2985px;
  left: 0;
  width: 1440px;
  height: 0;
}
.line-div189,
.line-div190,
.line-div191 {
  position: absolute;
  top: 100.5px;
  left: 117.5px;
  border-top: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 1205px;
  height: 1px;
}
.line-div190,
.line-div191 {
  top: 3177.5px;
}
.line-div191 {
  top: 3425.5px;
}
.blockbuster-deals-div4,
.featured-products-div4,
.top-brand-offers6 {
  position: absolute;
  top: 888px;
  left: 115px;
  font-size: var(--font-size-18xl);
  font-weight: 500;
  display: inline-block;
}
.featured-products-div4,
.top-brand-offers6 {
  top: 1539px;
  left: 116px;
}
.top-brand-offers6 {
  top: 2344px;
  left: 117px;
}
.search-for-products-brands12 {
  position: absolute;
  top: 39px;
  left: 286px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-4300);
  display: inline-block;
  width: 356px;
  height: 19px;
}
.nike-winflo-813,
.nike-winflo-814,
.nike-winflo-815,
.nike-winflo-816,
.sony-div14 {
  position: absolute;
  top: 1247px;
  left: 174px;
  font-size: var(--font-size-12xl);
  display: inline-block;
}
.nike-winflo-814,
.nike-winflo-815,
.nike-winflo-816,
.sony-div14 {
  left: 491px;
}
.nike-winflo-815,
.nike-winflo-816,
.sony-div14 {
  left: 805px;
}
.nike-winflo-816,
.sony-div14 {
  left: 1116px;
}
.sony-div14 {
  top: 2706px;
  left: 216px;
}
.lorem-ipsum-dolor7 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.lorem-ipsum-dolor8 {
  margin: 0;
}
.lorem-ipsum-dolor-sit-amet-lor1 {
  position: absolute;
  top: 3022px;
  left: 117px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 484px;
}
.buy-div5,
.follow-us-div5,
.sell-div14 {
  font-size: var(--font-size-7xl);
  font-weight: 500;
}
.follow-us-div5 {
  position: absolute;
  top: 3022px;
  left: 783px;
  display: inline-block;
  width: 448px;
}
.buy-div5,
.sell-div14 {
  top: 3218px;
}
.buy-div5 {
  position: absolute;
  left: 117px;
  display: inline-block;
}
.sell-div14 {
  left: 332px;
}
.my-account-div5,
.sell-div14,
.services-div10 {
  position: absolute;
  display: inline-block;
}
.services-div10 {
  top: 3218px;
  left: 544px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
}
.my-account-div5 {
  left: 756px;
}
.my-account-div5,
.our-offers-div5,
.useful-links-div2 {
  top: 3218px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
}
.useful-links-div2 {
  position: absolute;
  left: 968px;
  display: inline-block;
}
.our-offers-div5 {
  left: 1181px;
}
.contact-us-div5,
.our-offers-div5,
.twitter-div3 {
  position: absolute;
  display: inline-block;
}
.contact-us-div5 {
  top: 3022px;
  left: 1101px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  width: 294px;
}
.twitter-div3 {
  top: 3057px;
  left: 783px;
}
.about-us-div12,
.about-us-div13,
.about-us-div14,
.about-us-div15 {
  position: absolute;
  top: 3262px;
  left: 333px;
  display: inline-block;
}
.about-us-div13,
.about-us-div14,
.about-us-div15 {
  left: 971px;
}
.about-us-div14,
.about-us-div15 {
  left: 758px;
}
.about-us-div15 {
  left: 546px;
}
.about-us-div16,
.about-us-div17,
.consectetur-adipiscing-elit-lo1 {
  position: absolute;
  top: 3262px;
  left: 118px;
  display: inline-block;
}
.about-us-div17,
.consectetur-adipiscing-elit-lo1 {
  left: 1183px;
}
.consectetur-adipiscing-elit-lo1 {
  top: 3057px;
  left: 1102px;
  font-size: var(--font-size-5xl);
}
.facebook-div3,
.information-div12 {
  position: absolute;
  top: 3092px;
  left: 783px;
  display: inline-block;
}
.information-div12 {
  top: 3297px;
  left: 333px;
}
.information-div13,
.information-div14,
.information-div15 {
  position: absolute;
  top: 3297px;
  left: 971px;
  display: inline-block;
}
.information-div14,
.information-div15 {
  left: 758px;
}
.information-div15 {
  left: 546px;
}
.ebays-blogs-div3,
.information-div16,
.information-div17 {
  position: absolute;
  top: 3297px;
  left: 118px;
  display: inline-block;
}
.ebays-blogs-div3,
.information-div17 {
  left: 1183px;
}
.ebays-blogs-div3 {
  top: 3126px;
  left: 783px;
}
.privacy-policy-div12,
.privacy-policy-div13,
.privacy-policy-div14 {
  position: absolute;
  top: 3331px;
  left: 333px;
  display: inline-block;
}
.privacy-policy-div13,
.privacy-policy-div14 {
  left: 971px;
}
.privacy-policy-div14 {
  left: 758px;
}
.privacy-policy-div15,
.privacy-policy-div16,
.privacy-policy-div17 {
  position: absolute;
  top: 3331px;
  left: 546px;
  display: inline-block;
}
.privacy-policy-div16,
.privacy-policy-div17 {
  left: 118px;
}
.privacy-policy-div17 {
  left: 1183px;
}
.terms-conditions36,
.terms-conditions37,
.terms-conditions38 {
  position: absolute;
  top: 3365px;
  left: 333px;
  display: inline-block;
}
.terms-conditions37,
.terms-conditions38 {
  left: 971px;
}
.terms-conditions38 {
  left: 758px;
}
.terms-conditions39,
.terms-conditions40,
.terms-conditions41 {
  position: absolute;
  top: 3365px;
  left: 546px;
  display: inline-block;
}
.terms-conditions40,
.terms-conditions41 {
  left: 118px;
}
.terms-conditions41 {
  left: 1183px;
}
.span22 {
  color: var(--color-gray-3300);
}
.starting-999-5994 {
  position: absolute;
  top: 2742px;
  left: 158px;
  font-size: var(--font-size-7xl);
  display: inline-block;
}
.sony-div15,
.sony-div16,
.sony-div17,
.starting-999-5995,
.starting-999-5996,
.starting-999-5997 {
  position: absolute;
  top: 2740px;
  left: 475px;
  font-size: var(--font-size-7xl);
  display: inline-block;
}
.sony-div15,
.sony-div16,
.sony-div17,
.starting-999-5996,
.starting-999-5997 {
  left: 790px;
}
.sony-div15,
.sony-div16,
.sony-div17,
.starting-999-5997 {
  left: 1104px;
}
.sony-div15,
.sony-div16,
.sony-div17 {
  top: 2706px;
  left: 533px;
  font-size: var(--font-size-12xl);
}
.sony-div16,
.sony-div17 {
  left: 849px;
}
.sony-div17 {
  left: 1163px;
}
.collectibles-arts14 {
  left: 487px;
}
.collectibles-arts14,
.electronics-div6,
.fashion-div5,
.sports-div6 {
  position: absolute;
  top: 142px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.electronics-div6 {
  left: 190px;
  cursor: pointer;
}
.fashion-div5,
.sports-div6 {
  left: 308px;
}
.sports-div6 {
  left: 402px;
}
.home-garden14,
.musical-instruments-gears6,
.other-categories-div6,
.toys-hobbies14 {
  position: absolute;
  top: 142px;
  left: 658px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.musical-instruments-gears6,
.other-categories-div6,
.toys-hobbies14 {
  left: 809px;
}
.other-categories-div6,
.toys-hobbies14 {
  left: 1054px;
}
.other-categories-div6 {
  left: 1202px;
}
.rectangle-div411 {
  position: absolute;
  top: 24px;
  left: 260px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 631px;
  height: 49px;
}
.line-div192,
.line-div193,
.line-div194 {
  position: absolute;
  top: 142.25px;
  left: 117.25px;
  border-top: 1.5px solid var(--color-black);
  box-sizing: border-box;
  width: 25.5px;
  height: 1.5px;
}
.line-div193,
.line-div194 {
  top: 149.25px;
}
.line-div194 {
  top: 156.25px;
}
.rectangle-div412,
.rectangle-div413,
.rectangle-div414 {
  position: absolute;
  top: 1385px;
  left: 606px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 231px;
  height: 53px;
}
.rectangle-div413,
.rectangle-div414 {
  top: 1864px;
}
.rectangle-div414 {
  top: 2832px;
}
.explore-other-brands6,
.see-all-deals6,
.show-more-div10 {
  position: absolute;
  top: 1399px;
  left: 659px;
  font-size: var(--font-size-9xl);
  text-align: center;
  display: inline-block;
}
.explore-other-brands6,
.show-more-div10 {
  top: 1878px;
  left: 666px;
}
.explore-other-brands6 {
  top: 2845px;
  left: 619px;
}
.line-div195,
.line-div196,
.line-div197,
.line-div198 {
  position: absolute;
  top: 2753.5px;
  left: 234.5px;
  border-top: 1px solid var(--color-gray-3800);
  box-sizing: border-box;
  width: 51px;
  height: 1px;
}
.line-div196,
.line-div197,
.line-div198 {
  top: 2751.5px;
  left: 551.5px;
}
.line-div197,
.line-div198 {
  left: 866.5px;
}
.line-div198 {
  left: 1180.5px;
}
.copyright-1995-2022-ebay-inc26 {
  position: absolute;
  top: 3457px;
  left: 118px;
  font-size: var(--font-size-base);
  color: var(--color-gray-4100);
  display: inline-block;
}
.rectangle-div415,
.rectangle-div416 {
  position: absolute;
  top: 455px;
  left: 176px;
  border-radius: var(--br-6xs);
  background-color: var(--color-indigo-100);
  width: 133px;
  height: 45px;
}
.rectangle-div416 {
  left: 339px;
  background-color: var(--color-gray-4200);
  border: 1px solid var(--color-gray-2100);
  box-sizing: border-box;
  width: 206px;
}
.buy-now-div8,
.with-900-with-trade-in6 {
  position: absolute;
  top: 468px;
  left: 194px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  display: inline-block;
}
.with-900-with-trade-in6 {
  left: 355px;
}
.mask-group-icon86 {
  position: absolute;
  top: 39px;
  left: 848px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.ellipse-icon69,
.ellipse-icon70 {
  position: absolute;
  top: 721px;
  left: 639px;
  width: 13px;
  height: 13px;
}
.ellipse-icon70 {
  left: 669px;
}
.ellipse-icon71,
.ellipse-icon72,
.ellipse-icon73,
.ellipse-icon74 {
  position: absolute;
  top: 721px;
  left: 699px;
  width: 13px;
  height: 13px;
}
.ellipse-icon72,
.ellipse-icon73,
.ellipse-icon74 {
  left: 729px;
}
.ellipse-icon73,
.ellipse-icon74 {
  left: 759px;
}
.ellipse-icon74 {
  left: 789px;
}
.mask-group-icon87 {
  position: absolute;
  top: 466px;
  left: 270px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.help-contact26,
.sell-div15 {
  position: absolute;
  top: 41px;
  left: 997px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.sell-div15 {
  left: 933px;
  cursor: pointer;
}
.love-1-icon5,
.shopping-cart-2-icon7,
.user-1-icon7 {
  position: absolute;
  top: 36px;
  left: 1234px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.love-1-icon5,
.shopping-cart-2-icon7 {
  left: 1189px;
}
.love-1-icon5 {
  top: 35px;
  left: 1142px;
  width: 26px;
  height: 26px;
}
.india-1-icon7,
.line-icon56 {
  position: absolute;
  top: 46.24px;
  left: 1275.11px;
  width: 5.77px;
  height: 5px;
}
.india-1-icon7 {
  top: 30px;
  left: 1290px;
  width: 32px;
  height: 35px;
  object-fit: cover;
}
.rectangle-div417 {
  position: absolute;
  top: 2115px;
  left: 154px;
  border-radius: var(--br-4xs);
  background-color: var(--color-indigo-100);
  width: 184px;
  height: 45px;
}
.start-selling-div6 {
  position: absolute;
  top: 2126px;
  left: 191px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
}
.ebay-1-icon12 {
  position: absolute;
  top: 0;
  left: 118px;
  width: 109px;
  height: 109px;
  object-fit: cover;
}
.rectangle-div418,
.rectangle-div419,
.rectangle-div420,
.rectangle-div421 {
  position: absolute;
  top: 1285px;
  left: 183px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-300);
  width: 130px;
  height: 32px;
}
.rectangle-div419,
.rectangle-div420,
.rectangle-div421 {
  left: 500px;
}
.rectangle-div420,
.rectangle-div421 {
  left: 814px;
}
.rectangle-div421 {
  left: 1128px;
}
.off-div49,
.off-div50,
.off-div51,
.off-div52 {
  position: absolute;
  top: 1291px;
  left: 204px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-100);
  display: inline-block;
}
.off-div50,
.off-div51,
.off-div52 {
  left: 521px;
}
.off-div51,
.off-div52 {
  left: 833px;
}
.off-div52 {
  left: 1150px;
}
.line-icon57,
.line-icon58 {
  position: absolute;
  top: 451.67px;
  left: 1256.17px;
  width: 36.33px;
  height: 36.33px;
}
.line-icon58 {
  top: 421px;
}
.rectangle-div422 {
  position: absolute;
  top: 778px;
  left: 1126px;
  border-radius: var(--br-3xs);
  background-color: var(--color-indigo-300);
  width: 196px;
  height: 49px;
}
.shop-now-div6 {
  position: absolute;
  top: 790px;
  left: 1152px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  display: inline-block;
}
.arrow-icon9 {
  position: absolute;
  top: 797.64px;
  left: 1270px;
  width: 27px;
  height: 14.73px;
}
.rectangle-div423,
.rectangle-div424,
.rectangle-div425,
.rectangle-div426 {
  position: absolute;
  top: 970px;
  left: 118px;
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 259px;
  height: 259px;
}
.rectangle-div424,
.rectangle-div425,
.rectangle-div426 {
  left: 435px;
}
.rectangle-div425,
.rectangle-div426 {
  left: 749px;
}
.rectangle-div426 {
  left: 1060px;
}
.ezgif-2-icon5,
.ezgif-3-icon2,
.ezgif-4-icon2,
.ezgif-5-icon2 {
  position: absolute;
  top: 987px;
  left: 447px;
  width: 235px;
  height: 226px;
  object-fit: cover;
}
.ezgif-2-icon5,
.ezgif-4-icon2,
.ezgif-5-icon2 {
  left: 761px;
}
.ezgif-2-icon5,
.ezgif-5-icon2 {
  left: 1072px;
}
.ezgif-2-icon5 {
  left: 130px;
}
.rectangle-div427,
.rectangle-div428,
.rectangle-div429 {
  position: absolute;
  top: 1621px;
  left: 118px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 174px;
  height: 174px;
}
.rectangle-div428,
.rectangle-div429 {
  top: 1623px;
  left: 538px;
}
.rectangle-div429 {
  left: 957px;
}
.fitbit-versa-lite-edition-pe11,
.fitbit-versa-lite-edition-pe12,
.fitbit-versa-lite-edition-pe13 {
  position: absolute;
  top: 1634px;
  left: 322px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
}
.fitbit-versa-lite-edition-pe12,
.fitbit-versa-lite-edition-pe13 {
  left: 741px;
}
.fitbit-versa-lite-edition-pe13 {
  left: 1159px;
}
.span26 {
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.span27 {
  font-size: var(--font-size-2xl);
  color: var(--color-gray-3300);
}
.div172,
.div173,
.div174 {
  position: absolute;
  top: 1721px;
  left: 322px;
  display: inline-block;
  font-size: var(--font-size-4xl);
  color: var(--color-red-100);
}
.div173,
.div174 {
  left: 741px;
}
.div174 {
  left: 1159px;
}
.line-div199,
.line-div200,
.line-div201 {
  position: absolute;
  top: 1730.5px;
  left: 380.5px;
  border-top: 1px solid var(--color-gray-3800);
  box-sizing: border-box;
  width: 57px;
  height: 1px;
}
.line-div200,
.line-div201 {
  left: 799.5px;
}
.line-div201 {
  top: 1731.5px;
  left: 1217.5px;
}
.ezgif-6-icon6,
.ezgif-7-icon2,
.ezgif-8-icon2,
.star-1-icon7 {
  position: absolute;
  top: 1635px;
  left: 131px;
  width: 154px;
  height: 149px;
  object-fit: cover;
}
.ezgif-7-icon2,
.ezgif-8-icon2,
.star-1-icon7 {
  top: 1637px;
  left: 551px;
}
.ezgif-8-icon2,
.star-1-icon7 {
  left: 969px;
}
.star-1-icon7 {
  top: 1764px;
  left: 322px;
  width: 15px;
  height: 15px;
}
.star-10-icon7,
.star-2-icon7,
.star-5-icon7,
.star-6-icon7,
.star-9-icon7 {
  position: absolute;
  top: 1764px;
  left: 741px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.star-10-icon7,
.star-2-icon7,
.star-6-icon7,
.star-9-icon7 {
  left: 1159px;
}
.star-10-icon7,
.star-2-icon7,
.star-6-icon7 {
  left: 343px;
}
.star-10-icon7,
.star-6-icon7 {
  left: 762px;
}
.star-10-icon7 {
  left: 1180px;
}
.star-11-icon7,
.star-3-icon7,
.star-4-icon7,
.star-7-icon7,
.star-8-icon7 {
  position: absolute;
  top: 1764px;
  left: 364px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.star-11-icon7,
.star-4-icon7,
.star-7-icon7,
.star-8-icon7 {
  left: 783px;
}
.star-11-icon7,
.star-4-icon7,
.star-8-icon7 {
  left: 1201px;
}
.star-4-icon7,
.star-8-icon7 {
  left: 385px;
}
.star-8-icon7 {
  left: 804px;
}
.mask-group-icon88,
.mask-group-icon89,
.mask-group-icon90,
.star-12-icon7 {
  position: absolute;
  top: 1764px;
  left: 1222px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.mask-group-icon88,
.mask-group-icon89,
.mask-group-icon90 {
  left: 406px;
}
.mask-group-icon89,
.mask-group-icon90 {
  left: 825px;
}
.mask-group-icon90 {
  left: 1243px;
}
.rectangle-div430,
.rectangle-div431,
.rectangle-div432,
.rectangle-div433 {
  position: absolute;
  top: 2429px;
  left: 118px;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-beige-100);
  box-sizing: border-box;
  width: 259px;
  height: 259px;
}
.rectangle-div431,
.rectangle-div432,
.rectangle-div433 {
  left: 435px;
}
.rectangle-div432,
.rectangle-div433 {
  left: 750px;
}
.rectangle-div433 {
  left: 1063px;
}
.image-1-icon7,
.image-2-icon3,
.image-3-icon2,
.image-4-icon2 {
  position: absolute;
  top: 2456px;
  left: 131px;
  width: 233px;
  height: 205px;
  object-fit: cover;
}
.image-2-icon3,
.image-3-icon2,
.image-4-icon2 {
  left: 448px;
}
.image-3-icon2,
.image-4-icon2 {
  left: 763px;
}
.image-4-icon2 {
  left: 1076px;
}
.div171 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3509px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
