body {
  margin: 0;
  line-height: normal;
}
.rectangle-div382 {
  position: absolute;
  top: 2985px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 524px;
}
.download-1-icon5,
.visa-1-icon5 {
  position: absolute;
  top: 3451px;
  left: 1177px;
  width: 40px;
  height: 26px;
  object-fit: cover;
}
.visa-1-icon5 {
  top: 3446px;
  left: 1283px;
  width: 39px;
  height: 36px;
}
.download-1-15,
.paypal-1-icon5,
.shakerx-baner-black-en-1-icon5 {
  position: absolute;
  top: 3451px;
  left: 1231px;
  width: 38px;
  height: 26px;
  object-fit: cover;
}
.download-1-15,
.shakerx-baner-black-en-1-icon5 {
  left: 1124px;
  width: 39px;
}
.shakerx-baner-black-en-1-icon5 {
  top: 2016px;
  left: 119px;
  width: 1203px;
  height: 218px;
}
.want-to-sell-your-products-on5 {
  position: absolute;
  top: 2053px;
  left: 153px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
}
.ezgif-1-icon5,
.rectangle-div383 {
  position: absolute;
  left: 118px;
  width: 1204px;
}
.ezgif-1-icon5 {
  top: 205px;
  height: 500px;
  object-fit: cover;
}
.rectangle-div383 {
  top: 705px;
  background-color: var(--color-gray-2800);
  height: 45px;
}
.line-div174 {
  position: absolute;
  top: 2985px;
  left: 0;
  width: 1440px;
  height: 0;
}
.line-div175,
.line-div176,
.line-div177 {
  position: absolute;
  top: 100.5px;
  left: 117.5px;
  border-top: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 1205px;
  height: 1px;
}
.line-div176,
.line-div177 {
  top: 3177.5px;
}
.line-div177 {
  top: 3425.5px;
}
.blockbuster-deals-div3,
.featured-products-div3,
.top-brand-offers5 {
  position: absolute;
  top: 888px;
  left: 115px;
  font-size: var(--font-size-18xl);
  font-weight: 500;
  display: inline-block;
}
.featured-products-div3,
.top-brand-offers5 {
  top: 1539px;
  left: 116px;
}
.top-brand-offers5 {
  top: 2344px;
  left: 117px;
}
.search-for-products-brands11 {
  position: absolute;
  top: 39px;
  left: 286px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-4300);
  display: inline-block;
  width: 356px;
  height: 19px;
}
.nike-winflo-810,
.nike-winflo-811,
.nike-winflo-812,
.nike-winflo-89,
.sony-div10 {
  position: absolute;
  top: 1247px;
  left: 174px;
  font-size: var(--font-size-12xl);
  display: inline-block;
}
.nike-winflo-810,
.nike-winflo-811,
.nike-winflo-812,
.sony-div10 {
  left: 491px;
}
.nike-winflo-811,
.nike-winflo-812,
.sony-div10 {
  left: 805px;
}
.nike-winflo-812,
.sony-div10 {
  left: 1116px;
}
.sony-div10 {
  top: 2706px;
  left: 216px;
}
.lorem-ipsum-dolor4 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.lorem-ipsum-dolor-sit-amet-lor {
  position: absolute;
  top: 3022px;
  left: 117px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 484px;
}
.buy-div4,
.follow-us-div4 {
  position: absolute;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  display: inline-block;
}
.follow-us-div4 {
  top: 3022px;
  left: 783px;
  width: 448px;
}
.buy-div4 {
  top: 3218px;
  left: 117px;
}
.contact-us-div4,
.my-account-div4,
.our-offers-div4,
.sell-div12,
.services-div9,
.useful-links-div1 {
  position: absolute;
  top: 3218px;
  left: 332px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  display: inline-block;
}
.contact-us-div4,
.my-account-div4,
.our-offers-div4,
.services-div9,
.useful-links-div1 {
  left: 544px;
}
.contact-us-div4,
.my-account-div4,
.our-offers-div4,
.useful-links-div1 {
  left: 756px;
}
.contact-us-div4,
.our-offers-div4,
.useful-links-div1 {
  left: 968px;
}
.contact-us-div4,
.our-offers-div4 {
  left: 1181px;
}
.contact-us-div4 {
  top: 3022px;
  left: 1101px;
  width: 294px;
}
.about-us-div6,
.about-us-div7,
.twitter-div2 {
  position: absolute;
  top: 3057px;
  left: 783px;
  display: inline-block;
}
.about-us-div6,
.about-us-div7 {
  top: 3262px;
  left: 333px;
}
.about-us-div7 {
  left: 971px;
}
.about-us-div10,
.about-us-div11,
.about-us-div8,
.about-us-div9 {
  position: absolute;
  top: 3262px;
  left: 758px;
  display: inline-block;
}
.about-us-div10,
.about-us-div11,
.about-us-div9 {
  left: 546px;
}
.about-us-div10,
.about-us-div11 {
  left: 118px;
}
.about-us-div11 {
  left: 1183px;
}
.d04-09cr {
  margin: 0;
}
.consectetur-adipiscing-elit-lo {
  position: absolute;
  top: 3057px;
  left: 1102px;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.facebook-div2,
.information-div6 {
  position: absolute;
  top: 3092px;
  left: 783px;
  display: inline-block;
}
.information-div6 {
  top: 3297px;
  left: 333px;
}
.information-div7,
.information-div8,
.information-div9 {
  position: absolute;
  top: 3297px;
  left: 971px;
  display: inline-block;
}
.information-div8,
.information-div9 {
  left: 758px;
}
.information-div9 {
  left: 546px;
}
.ebays-blogs-div2,
.information-div10,
.information-div11 {
  position: absolute;
  top: 3297px;
  left: 118px;
  display: inline-block;
}
.ebays-blogs-div2,
.information-div11 {
  left: 1183px;
}
.ebays-blogs-div2 {
  top: 3126px;
  left: 783px;
}
.privacy-policy-div6,
.privacy-policy-div7,
.privacy-policy-div8 {
  position: absolute;
  top: 3331px;
  left: 333px;
  display: inline-block;
}
.privacy-policy-div7,
.privacy-policy-div8 {
  left: 971px;
}
.privacy-policy-div8 {
  left: 758px;
}
.privacy-policy-div10,
.privacy-policy-div11,
.privacy-policy-div9 {
  position: absolute;
  top: 3331px;
  left: 546px;
  display: inline-block;
}
.privacy-policy-div10,
.privacy-policy-div11 {
  left: 118px;
}
.privacy-policy-div11 {
  left: 1183px;
}
.terms-conditions30,
.terms-conditions31,
.terms-conditions32 {
  position: absolute;
  top: 3365px;
  left: 333px;
  display: inline-block;
}
.terms-conditions31,
.terms-conditions32 {
  left: 971px;
}
.terms-conditions32 {
  left: 758px;
}
.terms-conditions33,
.terms-conditions34,
.terms-conditions35 {
  position: absolute;
  top: 3365px;
  left: 546px;
  display: inline-block;
}
.terms-conditions34,
.terms-conditions35 {
  left: 118px;
}
.terms-conditions35 {
  left: 1183px;
}
.span12 {
  color: var(--color-gray-3300);
}
.starting-999-599 {
  position: absolute;
  top: 2742px;
  left: 158px;
  font-size: var(--font-size-7xl);
  display: inline-block;
}
.sony-div11,
.sony-div12,
.sony-div13,
.starting-999-5991,
.starting-999-5992,
.starting-999-5993 {
  position: absolute;
  top: 2740px;
  left: 475px;
  font-size: var(--font-size-7xl);
  display: inline-block;
}
.sony-div11,
.sony-div12,
.sony-div13,
.starting-999-5992,
.starting-999-5993 {
  left: 790px;
}
.sony-div11,
.sony-div12,
.sony-div13,
.starting-999-5993 {
  left: 1104px;
}
.sony-div11,
.sony-div12,
.sony-div13 {
  top: 2706px;
  left: 533px;
  font-size: var(--font-size-12xl);
}
.sony-div12,
.sony-div13 {
  left: 849px;
}
.sony-div13 {
  left: 1163px;
}
.collectibles-arts13,
.electronics-div5,
.fashion-div4,
.sports-div5 {
  position: absolute;
  top: 142px;
  left: 487px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.electronics-div5,
.fashion-div4,
.sports-div5 {
  left: 190px;
}
.fashion-div4,
.sports-div5 {
  left: 308px;
}
.sports-div5 {
  left: 402px;
}
.home-garden13,
.musical-instruments-gears5,
.other-categories-div5,
.toys-hobbies13 {
  position: absolute;
  top: 142px;
  left: 658px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.musical-instruments-gears5,
.other-categories-div5,
.toys-hobbies13 {
  left: 809px;
}
.other-categories-div5,
.toys-hobbies13 {
  left: 1054px;
}
.other-categories-div5 {
  left: 1202px;
}
.rectangle-div384 {
  position: absolute;
  top: 24px;
  left: 260px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 631px;
  height: 49px;
}
.rectangle-div385,
.rectangle-div386,
.rectangle-div387,
.rectangle-div388 {
  position: absolute;
  top: 2429px;
  left: 118px;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-beige-100);
  box-sizing: border-box;
  width: 259px;
  height: 259px;
}
.rectangle-div386,
.rectangle-div387,
.rectangle-div388 {
  left: 435px;
}
.rectangle-div387,
.rectangle-div388 {
  left: 750px;
}
.rectangle-div388 {
  left: 1063px;
}
.line-div178,
.line-div179,
.line-div180 {
  position: absolute;
  top: 142.25px;
  left: 117.25px;
  border-top: 1.5px solid var(--color-black);
  box-sizing: border-box;
  width: 25.5px;
  height: 1.5px;
}
.line-div179,
.line-div180 {
  top: 149.25px;
}
.line-div180 {
  top: 156.25px;
}
.rectangle-div389,
.rectangle-div390,
.rectangle-div391,
.rectangle-div392 {
  position: absolute;
  top: 1285px;
  left: 183px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-300);
  width: 130px;
  height: 32px;
}
.rectangle-div390,
.rectangle-div391,
.rectangle-div392 {
  left: 500px;
}
.rectangle-div391,
.rectangle-div392 {
  left: 814px;
}
.rectangle-div392 {
  left: 1128px;
}
.rectangle-div393,
.rectangle-div394,
.rectangle-div395 {
  position: absolute;
  top: 1385px;
  left: 606px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 231px;
  height: 53px;
}
.rectangle-div394,
.rectangle-div395 {
  top: 1864px;
}
.rectangle-div395 {
  top: 2832px;
}
.explore-other-brands5,
.see-all-deals5,
.show-more-div9 {
  position: absolute;
  top: 1399px;
  left: 659px;
  font-size: var(--font-size-9xl);
  text-align: center;
  display: inline-block;
}
.explore-other-brands5,
.show-more-div9 {
  top: 1878px;
  left: 666px;
}
.explore-other-brands5 {
  top: 2846px;
  left: 618px;
}
.off-div45,
.off-div46,
.off-div47,
.off-div48 {
  position: absolute;
  top: 1291px;
  left: 204px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-100);
  display: inline-block;
}
.off-div46,
.off-div47,
.off-div48 {
  left: 521px;
}
.off-div47,
.off-div48 {
  left: 833px;
}
.off-div48 {
  left: 1150px;
}
.line-div181,
.line-div182,
.line-div183,
.line-div184 {
  position: absolute;
  top: 2753.5px;
  left: 234.5px;
  border-top: 1px solid var(--color-gray-3800);
  box-sizing: border-box;
  width: 51px;
  height: 1px;
}
.line-div182,
.line-div183,
.line-div184 {
  top: 2751.5px;
  left: 551.5px;
}
.line-div183,
.line-div184 {
  left: 866.5px;
}
.line-div184 {
  left: 1180.5px;
}
.copyright-1995-2022-ebay-inc25 {
  position: absolute;
  top: 3457px;
  left: 118px;
  font-size: var(--font-size-base);
  color: var(--color-gray-4100);
  display: inline-block;
}
.rectangle-div396,
.rectangle-div397 {
  position: absolute;
  top: 455px;
  left: 176px;
  border-radius: var(--br-6xs);
  background-color: var(--color-indigo-100);
  width: 133px;
  height: 45px;
}
.rectangle-div397 {
  left: 339px;
  background-color: var(--color-gray-4200);
  border: 1px solid var(--color-gray-2100);
  box-sizing: border-box;
  width: 206px;
}
.buy-now-div7,
.with-900-with-trade-in5 {
  position: absolute;
  top: 468px;
  left: 194px;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  display: inline-block;
}
.with-900-with-trade-in5 {
  left: 355px;
}
.mask-group-icon81 {
  position: absolute;
  top: 39px;
  left: 848px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.ellipse-icon63,
.ellipse-icon64 {
  position: absolute;
  top: 721px;
  left: 639px;
  width: 13px;
  height: 13px;
}
.ellipse-icon64 {
  left: 669px;
}
.ellipse-icon65,
.ellipse-icon66,
.ellipse-icon67,
.ellipse-icon68 {
  position: absolute;
  top: 721px;
  left: 699px;
  width: 13px;
  height: 13px;
}
.ellipse-icon66,
.ellipse-icon67,
.ellipse-icon68 {
  left: 729px;
}
.ellipse-icon67,
.ellipse-icon68 {
  left: 759px;
}
.ellipse-icon68 {
  left: 789px;
}
.mask-group-icon82 {
  position: absolute;
  top: 466px;
  left: 270px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.image-1-icon6,
.image-2-icon2,
.image-3-icon1,
.image-4-icon1 {
  position: absolute;
  top: 2456px;
  left: 131px;
  width: 233px;
  height: 205px;
  object-fit: cover;
}
.image-2-icon2,
.image-3-icon1,
.image-4-icon1 {
  left: 448px;
}
.image-3-icon1,
.image-4-icon1 {
  left: 763px;
}
.image-4-icon1 {
  left: 1076px;
}
.help-contact25,
.sell-div13 {
  position: absolute;
  top: 41px;
  left: 997px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.sell-div13 {
  left: 933px;
}
.love-1-icon4,
.shopping-cart-2-icon6,
.user-1-icon6 {
  position: absolute;
  top: 36px;
  left: 1234px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.love-1-icon4,
.shopping-cart-2-icon6 {
  left: 1189px;
}
.love-1-icon4 {
  top: 35px;
  left: 1142px;
  width: 26px;
  height: 26px;
}
.india-1-icon6,
.line-icon53 {
  position: absolute;
  top: 46.24px;
  left: 1275.11px;
  width: 5.77px;
  height: 5px;
}
.india-1-icon6 {
  top: 30px;
  left: 1290px;
  width: 32px;
  height: 35px;
  object-fit: cover;
}
.rectangle-div398 {
  position: absolute;
  top: 170px;
  left: 199px;
  background-color: var(--color-indigo-100);
  width: 64px;
  height: 3px;
}
.polygon-icon1 {
  position: absolute;
  top: 0;
  left: 66.01px;
  width: 34.38px;
  height: 21.09px;
}
.group-div12,
.rectangle-div399 {
  position: absolute;
  left: 0;
  width: 902px;
}
.rectangle-div399 {
  top: 15.07px;
  border-radius: var(--br-sm);
  background-color: #dce4ed;
  backdrop-filter: blur(4px);
  height: 436.93px;
}
.group-div12 {
  top: 0;
  height: 452px;
}
.bluetooth-headphones-div5 {
  position: absolute;
  top: 71px;
  left: 41px;
  display: inline-block;
  cursor: pointer;
}
.audio-div1,
.audio-div2,
.audio-div3,
.audio-div4 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.audio-div2,
.audio-div3,
.audio-div4 {
  left: 222px;
}
.audio-div3,
.audio-div4 {
  left: 444px;
}
.audio-div4 {
  left: 666px;
}
.cameras-div1,
.cameras-div2,
.cameras-div3,
.cameras-div4 {
  position: absolute;
  top: 204px;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.cameras-div2,
.cameras-div3,
.cameras-div4 {
  left: 222px;
}
.cameras-div3,
.cameras-div4 {
  left: 444px;
}
.cameras-div4 {
  left: 666px;
}
.bluetooth-headphones-div6 {
  position: absolute;
  top: 32px;
  left: 222px;
  display: inline-block;
}
.bluetooth-headphones-div7,
.bluetooth-headphones-div8 {
  position: absolute;
  top: 32px;
  left: 444px;
  display: inline-block;
}
.bluetooth-headphones-div8 {
  left: 666px;
}
.bluetooth-headphones-div10,
.bluetooth-headphones-div9 {
  position: absolute;
  top: 234px;
  left: 0;
  display: inline-block;
}
.bluetooth-headphones-div10 {
  left: 222px;
}
.bluetooth-headphones-div11,
.bluetooth-headphones-div12 {
  position: absolute;
  top: 234px;
  left: 444px;
  display: inline-block;
}
.bluetooth-headphones-div12 {
  left: 666px;
}
.bluetooth-headphones-div13,
.bluetooth-headphones-div14 {
  position: absolute;
  top: 84px;
  left: 0;
  display: inline-block;
}
.bluetooth-headphones-div14 {
  left: 222px;
}
.bluetooth-headphones-div15,
.bluetooth-headphones-div16 {
  position: absolute;
  top: 84px;
  left: 444px;
  display: inline-block;
}
.bluetooth-headphones-div16 {
  left: 666px;
}
.bluetooth-headphones-div17,
.bluetooth-headphones-div18 {
  position: absolute;
  top: 286px;
  left: 0;
  display: inline-block;
}
.bluetooth-headphones-div18 {
  left: 222px;
}
.bluetooth-headphones-div19,
.bluetooth-headphones-div20 {
  position: absolute;
  top: 286px;
  left: 444px;
  display: inline-block;
}
.bluetooth-headphones-div20 {
  left: 666px;
}
.bluetooth-headphones-div21,
.bluetooth-headphones-div22 {
  position: absolute;
  top: 136px;
  left: 0;
  display: inline-block;
}
.bluetooth-headphones-div22 {
  left: 222px;
}
.bluetooth-headphones-div23,
.bluetooth-headphones-div24 {
  position: absolute;
  top: 136px;
  left: 444px;
  display: inline-block;
}
.bluetooth-headphones-div24 {
  left: 666px;
}
.bluetooth-headphones-div25,
.bluetooth-headphones-div26 {
  position: absolute;
  top: 338px;
  left: 0;
  display: inline-block;
}
.bluetooth-headphones-div26 {
  left: 222px;
}
.bluetooth-headphones-div27,
.bluetooth-headphones-div28 {
  position: absolute;
  top: 338px;
  left: 444px;
  display: inline-block;
}
.bluetooth-headphones-div28 {
  left: 666px;
}
.wired-headphones-div,
.wired-headphones-div1,
.wired-headphones-div2,
.wired-headphones-div3 {
  position: absolute;
  top: 58px;
  left: 0;
  display: inline-block;
  width: 168px;
  height: 19px;
}
.wired-headphones-div1,
.wired-headphones-div2,
.wired-headphones-div3 {
  left: 222px;
}
.wired-headphones-div2,
.wired-headphones-div3 {
  left: 444px;
}
.wired-headphones-div3 {
  left: 666px;
}
.wired-headphones-div4,
.wired-headphones-div5,
.wired-headphones-div6,
.wired-headphones-div7 {
  position: absolute;
  top: 260px;
  left: 0;
  display: inline-block;
  width: 168px;
  height: 19px;
}
.wired-headphones-div5,
.wired-headphones-div6,
.wired-headphones-div7 {
  left: 222px;
}
.wired-headphones-div6,
.wired-headphones-div7 {
  left: 444px;
}
.wired-headphones-div7 {
  left: 666px;
}
.wired-headphones-div10,
.wired-headphones-div11,
.wired-headphones-div8,
.wired-headphones-div9 {
  position: absolute;
  top: 110px;
  left: 0;
  display: inline-block;
  width: 168px;
  height: 19px;
}
.wired-headphones-div10,
.wired-headphones-div11,
.wired-headphones-div9 {
  left: 222px;
}
.wired-headphones-div10,
.wired-headphones-div11 {
  left: 444px;
}
.wired-headphones-div11 {
  left: 666px;
}
.wired-headphones-div12,
.wired-headphones-div13,
.wired-headphones-div14,
.wired-headphones-div15 {
  position: absolute;
  top: 312px;
  left: 0;
  display: inline-block;
  width: 168px;
  height: 19px;
}
.wired-headphones-div13,
.wired-headphones-div14,
.wired-headphones-div15 {
  left: 222px;
}
.wired-headphones-div14,
.wired-headphones-div15 {
  left: 444px;
}
.wired-headphones-div15 {
  left: 666px;
}
.wired-headphones-div16,
.wired-headphones-div17,
.wired-headphones-div18,
.wired-headphones-div19 {
  position: absolute;
  top: 162px;
  left: 0;
  display: inline-block;
  width: 168px;
  height: 19px;
}
.wired-headphones-div17,
.wired-headphones-div18,
.wired-headphones-div19 {
  left: 222px;
}
.wired-headphones-div18,
.wired-headphones-div19 {
  left: 444px;
}
.wired-headphones-div19 {
  left: 666px;
}
.wired-headphones-div20,
.wired-headphones-div21,
.wired-headphones-div22,
.wired-headphones-div23 {
  position: absolute;
  top: 364px;
  left: 0;
  display: inline-block;
  width: 168px;
  height: 19px;
}
.wired-headphones-div21,
.wired-headphones-div22,
.wired-headphones-div23 {
  left: 222px;
}
.wired-headphones-div22,
.wired-headphones-div23 {
  left: 444px;
}
.wired-headphones-div23 {
  left: 666px;
}
.group-div11,
.group-div13 {
  position: absolute;
  top: 41px;
  left: 41px;
  width: 834px;
  height: 383px;
}
.group-div11 {
  top: 182px;
  left: 148px;
  width: 902px;
  height: 452px;
  font-size: var(--font-size-base);
}
.rectangle-div400 {
  position: absolute;
  top: 2115px;
  left: 154px;
  border-radius: var(--br-4xs);
  background-color: var(--color-indigo-100);
  width: 184px;
  height: 45px;
}
.start-selling-div5 {
  position: absolute;
  top: 2126px;
  left: 191px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
}
.ebay-1-icon11 {
  position: absolute;
  top: 0;
  left: 118px;
  width: 109px;
  height: 109px;
  object-fit: cover;
}
.line-icon54,
.line-icon55 {
  position: absolute;
  top: 451.67px;
  left: 1256.17px;
  width: 36.33px;
  height: 36.33px;
}
.line-icon55 {
  top: 421px;
}
.rectangle-div401 {
  position: absolute;
  top: 778px;
  left: 1126px;
  border-radius: var(--br-3xs);
  background-color: var(--color-indigo-300);
  width: 196px;
  height: 49px;
}
.shop-now-div5 {
  position: absolute;
  top: 790px;
  left: 1152px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  display: inline-block;
}
.arrow-icon8 {
  position: absolute;
  top: 797.64px;
  left: 1270px;
  width: 27px;
  height: 14.73px;
}
.rectangle-div402,
.rectangle-div403,
.rectangle-div404,
.rectangle-div405 {
  position: absolute;
  top: 970px;
  left: 118px;
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 259px;
  height: 259px;
}
.rectangle-div403,
.rectangle-div404,
.rectangle-div405 {
  left: 435px;
}
.rectangle-div404,
.rectangle-div405 {
  left: 749px;
}
.rectangle-div405 {
  left: 1060px;
}
.ezgif-2-icon4,
.ezgif-3-icon1,
.ezgif-4-icon1,
.ezgif-5-icon1 {
  position: absolute;
  top: 987px;
  left: 447px;
  width: 235px;
  height: 226px;
  object-fit: cover;
}
.ezgif-2-icon4,
.ezgif-4-icon1,
.ezgif-5-icon1 {
  left: 761px;
}
.ezgif-2-icon4,
.ezgif-5-icon1 {
  left: 1072px;
}
.ezgif-2-icon4 {
  left: 130px;
}
.rectangle-div406,
.rectangle-div407,
.rectangle-div408 {
  position: absolute;
  top: 1621px;
  left: 118px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 174px;
  height: 174px;
}
.rectangle-div407,
.rectangle-div408 {
  top: 1623px;
  left: 538px;
}
.rectangle-div408 {
  left: 957px;
}
.fitbit-versa-lite-edition-pe10,
.fitbit-versa-lite-edition-pe8,
.fitbit-versa-lite-edition-pe9 {
  position: absolute;
  top: 1634px;
  left: 322px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
}
.fitbit-versa-lite-edition-pe10,
.fitbit-versa-lite-edition-pe9 {
  left: 741px;
}
.fitbit-versa-lite-edition-pe10 {
  left: 1159px;
}
.span16 {
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.span17 {
  font-size: var(--font-size-2xl);
  color: var(--color-gray-3300);
}
.div168,
.div169,
.div170 {
  position: absolute;
  top: 1721px;
  left: 322px;
  display: inline-block;
  font-size: var(--font-size-4xl);
  color: var(--color-red-100);
}
.div169,
.div170 {
  left: 741px;
}
.div170 {
  left: 1159px;
}
.line-div185,
.line-div186,
.line-div187 {
  position: absolute;
  top: 1730.5px;
  left: 380.5px;
  border-top: 1px solid var(--color-gray-3800);
  box-sizing: border-box;
  width: 57px;
  height: 1px;
}
.line-div186,
.line-div187 {
  left: 799.5px;
}
.line-div187 {
  top: 1731.5px;
  left: 1217.5px;
}
.ezgif-6-icon5,
.ezgif-7-icon1,
.ezgif-8-icon1,
.star-1-icon6 {
  position: absolute;
  top: 1635px;
  left: 131px;
  width: 154px;
  height: 149px;
  object-fit: cover;
}
.ezgif-7-icon1,
.ezgif-8-icon1,
.star-1-icon6 {
  top: 1637px;
  left: 551px;
}
.ezgif-8-icon1,
.star-1-icon6 {
  left: 969px;
}
.star-1-icon6 {
  top: 1764px;
  left: 322px;
  width: 15px;
  height: 15px;
}
.star-10-icon6,
.star-2-icon6,
.star-5-icon6,
.star-6-icon6,
.star-9-icon6 {
  position: absolute;
  top: 1764px;
  left: 741px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.star-10-icon6,
.star-2-icon6,
.star-6-icon6,
.star-9-icon6 {
  left: 1159px;
}
.star-10-icon6,
.star-2-icon6,
.star-6-icon6 {
  left: 343px;
}
.star-10-icon6,
.star-6-icon6 {
  left: 762px;
}
.star-10-icon6 {
  left: 1180px;
}
.star-11-icon6,
.star-3-icon6,
.star-4-icon6,
.star-7-icon6,
.star-8-icon6 {
  position: absolute;
  top: 1764px;
  left: 364px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.star-11-icon6,
.star-4-icon6,
.star-7-icon6,
.star-8-icon6 {
  left: 783px;
}
.star-11-icon6,
.star-4-icon6,
.star-8-icon6 {
  left: 1201px;
}
.star-4-icon6,
.star-8-icon6 {
  left: 385px;
}
.star-8-icon6 {
  left: 804px;
}
.mask-group-icon83,
.mask-group-icon84,
.mask-group-icon85,
.star-12-icon6 {
  position: absolute;
  top: 1764px;
  left: 1222px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.mask-group-icon83,
.mask-group-icon84,
.mask-group-icon85 {
  left: 406px;
}
.mask-group-icon84,
.mask-group-icon85 {
  left: 825px;
}
.mask-group-icon85 {
  left: 1243px;
}
.div167 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3509px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
