body {
  margin: 0;
  line-height: normal;
}
.rectangle-div298,
.rectangle-div299 {
  position: absolute;
  top: 762px;
  border-radius: var(--br-6xs);
  height: 56px;
}
.rectangle-div298 {
  left: 638px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-indigo-100);
  box-sizing: border-box;
  width: 281px;
  cursor: pointer;
}
.rectangle-div299 {
  left: 959px;
  background-color: var(--color-indigo-100);
  width: 282px;
}
.rectangle-div300 {
  position: absolute;
  top: 993px;
  left: 639px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-beige-100);
  box-sizing: border-box;
  width: 649px;
  height: 116px;
}
.cash-on-delivery-1-icon4 {
  position: absolute;
  top: 1013px;
  left: 1017px;
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.delivery-truck-1-icon2,
.security-1-icon2 {
  position: absolute;
  top: 1015px;
  left: 872px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.delivery-truck-1-icon2 {
  top: 1009px;
  left: 719px;
  width: 34px;
  height: 34px;
}
.rectangle-div301 {
  position: absolute;
  top: 337px;
  left: 639px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-beige-100);
  box-sizing: border-box;
  width: 649px;
  height: 116px;
}
.deafness-1-icon2,
.microphone-1-icon2 {
  position: absolute;
  top: 357px;
  left: 1084px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.deafness-1-icon2 {
  top: 359px;
  left: 951px;
  width: 22px;
  height: 22px;
}
.battery-status-full-1-icon2,
.bluetooth-1-icon2 {
  position: absolute;
  top: 358px;
  left: 822px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.battery-status-full-1-icon2 {
  top: 360px;
  left: 700px;
  width: 24px;
  height: 24px;
}
.hours-playback-div3 {
  top: 396px;
  left: 679px;
  font-size: var(--font-size-2xl);
}
.ebay-delivered-div1,
.hours-playback-div3,
.rating-div2 {
  position: absolute;
  display: inline-block;
}
.ebay-delivered-div1 {
  top: 1052px;
  left: 703px;
  font-size: var(--font-size-2xl);
  text-align: center;
}
.rating-div2 {
  top: 481px;
  left: 764px;
  font-size: var(--font-size-xs);
}
.no-cost-emi2 {
  font-weight: 500;
}
.no-cost-emi-avail-no-cost-em2 {
  position: absolute;
  top: 895px;
  left: 639px;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.bank-offers2 {
  font-weight: 500;
  font-family: var(--font-roboto);
}
.bank-offers-get-75-up-to {
  margin-block-start: 0;
  margin-block-end: 0;
}
.on-yes-bank-credit-card-emi-tr {
  margin: 0;
}
.bank-offers-get-75-up-to-r2 {
  position: absolute;
  top: 922px;
  left: 639px;
  font-size: var(--font-size-xs);
  white-space: pre-wrap;
  display: inline-block;
}
.details-div,
.details-div1 {
  text-decoration: underline;
  color: var(--color-indigo-100);
}
.details-div {
  position: absolute;
  top: 895px;
  left: 1122px;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.details-div1 {
  top: 939px;
  left: 1011px;
}
.black-div2,
.details-div1,
.enter-a-pin-code2,
.see-more-div2 {
  position: absolute;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.see-more-div2 {
  top: 1732px;
  left: 639px;
  font-weight: 500;
  color: var(--color-indigo-100);
}
.black-div2,
.enter-a-pin-code2 {
  top: 625px;
  left: 662px;
}
.enter-a-pin-code2 {
  top: 1184px;
  left: 653px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-3200);
}
.grey-div2,
.new-div2,
.white-div2 {
  position: absolute;
  top: 625px;
  left: 741px;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.new-div2,
.white-div2 {
  left: 814px;
}
.new-div2 {
  top: 707px;
  left: 639px;
  font-size: var(--font-size-base);
}
.answered-questions-div2,
.reviews-div2 {
  position: absolute;
  top: 481px;
  left: 867px;
  font-size: var(--font-size-xs);
  display: inline-block;
}
.answered-questions-div2 {
  left: 971px;
  width: 195px;
  height: 18px;
}
.bluetooth-connectivity-div1,
.year-warranty-div1 {
  position: absolute;
  top: 396px;
  left: 791px;
  font-size: var(--font-size-2xl);
  text-align: center;
  display: inline-block;
}
.year-warranty-div1 {
  top: 1052px;
  left: 851px;
}
.days-replacement-div1,
.noise-cancelling-div3,
.pay-on-delivery1,
.touch-assistance-div3,
.voice-assistance-div3 {
  position: absolute;
  top: 396px;
  left: 924px;
  font-size: var(--font-size-2xl);
  text-align: center;
  display: inline-block;
}
.days-replacement-div1,
.pay-on-delivery1,
.touch-assistance-div3,
.voice-assistance-div3 {
  top: 1052px;
  left: 1002px;
}
.days-replacement-div1,
.touch-assistance-div3,
.voice-assistance-div3 {
  top: 396px;
  left: 1045px;
}
.days-replacement-div1,
.touch-assistance-div3 {
  top: 1052px;
  left: 1137px;
}
.touch-assistance-div3 {
  top: 396px;
  left: 1177px;
}
.home-electronics-audio-h1,
.sony-wh-ch710n-noise-cancellin6 {
  position: absolute;
  top: 219px;
  left: 117px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.sony-wh-ch710n-noise-cancellin6 {
  top: 281px;
  left: 638px;
  font-size: var(--font-size-14xl);
  font-weight: 500;
}
.rectangle-div302 {
  position: absolute;
  top: 1175px;
  left: 639px;
  border-radius: var(--br-4xs);
  border: 1px solid var(--color-gray-2400);
  box-sizing: border-box;
  width: 159px;
  height: 34px;
}
.div140,
.div141 {
  position: absolute;
  display: inline-block;
}
.div140 {
  top: 528px;
  left: 639px;
  font-size: var(--font-size-14xl);
  font-weight: 500;
}
.div141 {
  top: 532px;
  left: 737px;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-4000);
}
.colour-div3,
.condition-div3,
.off-div38,
.offers-div4 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.off-div38 {
  top: 528px;
  left: 833px;
  font-size: var(--font-size-14xl);
  color: var(--color-green);
}
.colour-div3,
.condition-div3,
.offers-div4 {
  top: 588px;
  left: 639px;
}
.condition-div3,
.offers-div4 {
  top: 676px;
}
.offers-div4 {
  top: 863px;
}
.delivery-div3,
.description-div2,
.product-description-div2,
.specifications-div2 {
  position: absolute;
  top: 1143px;
  left: 639px;
  font-weight: 500;
  display: inline-block;
}
.description-div2,
.product-description-div2,
.specifications-div2 {
  top: 1260px;
  font-size: var(--font-size-6xl);
}
.description-div2,
.specifications-div2 {
  top: 1310px;
  left: 640px;
}
.description-div2 {
  top: 1561px;
  left: 638px;
}
.lorem-ipsum-dolor-sit-amet-co2,
.type-div4 {
  position: absolute;
  top: 1346px;
  left: 639px;
  display: inline-block;
}
.lorem-ipsum-dolor-sit-amet-co2 {
  top: 1593px;
  width: 675px;
}
.connectivity-div4,
.on-ear-div2 {
  position: absolute;
  top: 1346px;
  left: 811px;
  display: inline-block;
}
.connectivity-div4 {
  top: 1373px;
  left: 639px;
}
.bluetoothwireless-div2,
.noise-cancelling-div4,
.yes-div6 {
  position: absolute;
  top: 1373px;
  left: 811px;
  display: inline-block;
}
.noise-cancelling-div4,
.yes-div6 {
  top: 1400px;
  left: 639px;
}
.yes-div6 {
  left: 811px;
}
.battery-life-div2,
.hours-playback-div4 {
  position: absolute;
  top: 1427px;
  left: 639px;
  display: inline-block;
}
.hours-playback-div4 {
  left: 811px;
}
.minutes-quick-charging2,
.quick-charging-div2 {
  position: absolute;
  top: 1454px;
  left: 639px;
  display: inline-block;
}
.minutes-quick-charging2 {
  left: 811px;
}
.touch-assistance-div4,
.voice-assistance-div4,
.yes-div7,
.yes-div8 {
  position: absolute;
  top: 1481px;
  left: 639px;
  display: inline-block;
}
.touch-assistance-div4,
.yes-div7,
.yes-div8 {
  left: 811px;
}
.touch-assistance-div4,
.yes-div8 {
  top: 1508px;
  left: 639px;
}
.yes-div8 {
  left: 811px;
}
.line-div145 {
  position: absolute;
  top: 543.5px;
  left: 731.5px;
  border-top: 1px solid var(--color-gray-3800);
  box-sizing: border-box;
  width: 79px;
  height: 1px;
}
.ellipse-icon56,
.ellipse-icon57,
.ellipse-icon58 {
  position: absolute;
  top: 626px;
  left: 639px;
  width: 15px;
  height: 15px;
}
.ellipse-icon57,
.ellipse-icon58 {
  left: 718px;
}
.ellipse-icon58 {
  left: 791px;
}
.line-icon48,
.line-icon49 {
  position: absolute;
  top: 1736.94px;
  left: 705px;
  width: 7.06px;
  height: 7.06px;
}
.line-icon49 {
  left: 709.94px;
}
.sony-wh-1000xm4-div2,
.sony-wh-1000xm4-div3,
.sony-wh-1000xm4-div4,
.sony-wh-1000xm4-div5 {
  position: absolute;
  top: 2193px;
  left: 143px;
  font-size: var(--font-size-12xl);
  display: inline-block;
}
.sony-wh-1000xm4-div3,
.sony-wh-1000xm4-div4,
.sony-wh-1000xm4-div5 {
  left: 460px;
}
.sony-wh-1000xm4-div4,
.sony-wh-1000xm4-div5 {
  left: 774px;
}
.sony-wh-1000xm4-div5 {
  left: 1089px;
}
.rectangle-div303 {
  position: absolute;
  top: 2277px;
  left: 606px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 231px;
  height: 53px;
}
.show-more-div7 {
  position: absolute;
  top: 2291px;
  left: 666px;
  font-size: var(--font-size-9xl);
  text-align: center;
  display: inline-block;
}
.similar-products-div2 {
  position: absolute;
  top: 1833px;
  left: 116px;
  font-size: var(--font-size-18xl);
  font-weight: 500;
  display: inline-block;
}
.line-div146 {
  position: absolute;
  top: 198.5px;
  left: 117.5px;
  border-top: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 1205px;
  height: 1px;
}
.collectibles-arts10,
.electronics-div2,
.fashion-div1,
.sports-div2 {
  position: absolute;
  top: 142px;
  left: 489px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.electronics-div2,
.fashion-div1,
.sports-div2 {
  left: 192px;
}
.fashion-div1,
.sports-div2 {
  left: 310px;
}
.sports-div2 {
  left: 404px;
}
.home-garden10,
.musical-instruments-gears2,
.other-categories-div2,
.toys-hobbies10 {
  position: absolute;
  top: 142px;
  left: 660px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.musical-instruments-gears2,
.other-categories-div2,
.toys-hobbies10 {
  left: 812px;
}
.other-categories-div2,
.toys-hobbies10 {
  left: 1058px;
}
.other-categories-div2 {
  left: 1202px;
}
.line-div147,
.line-div148 {
  left: 117.25px;
  border-top: 1.5px solid var(--color-black);
  width: 25.5px;
  height: 1.5px;
}
.line-div147 {
  position: absolute;
  top: 142.25px;
  box-sizing: border-box;
}
.line-div148 {
  top: 149.25px;
}
.line-div148,
.line-div149,
.rectangle-div304 {
  position: absolute;
  box-sizing: border-box;
}
.line-div149 {
  top: 156.25px;
  left: 117.25px;
  border-top: 1.5px solid var(--color-black);
  width: 25.5px;
  height: 1.5px;
}
.rectangle-div304 {
  top: 24px;
  left: 260px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-gray-1500);
  width: 631px;
  height: 49px;
}
.mask-group-icon58 {
  position: absolute;
  top: 39px;
  left: 848px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.line-div150 {
  position: absolute;
  top: 100.5px;
  left: 117.5px;
  border-top: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 1205px;
  height: 1px;
}
.help-contact22,
.sell-div9 {
  position: absolute;
  top: 41px;
  left: 997px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.sell-div9 {
  left: 933px;
}
.love-1-icon1,
.user-1-icon3 {
  position: absolute;
  top: 36px;
  left: 1234px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.love-1-icon1 {
  top: 35px;
  left: 1142px;
  width: 26px;
  height: 26px;
}
.india-1-icon3,
.line-icon50 {
  position: absolute;
  top: 46.24px;
  left: 1275.11px;
  width: 5.77px;
  height: 5px;
}
.india-1-icon3 {
  top: 30px;
  left: 1290px;
  width: 32px;
  height: 35px;
  object-fit: cover;
}
.search-for-products-brands9 {
  position: absolute;
  top: 39px;
  left: 286px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-4300);
  display: inline-block;
  width: 356px;
  height: 19px;
}
.ebay-1-icon8 {
  position: absolute;
  top: 0;
  left: 118px;
  width: 109px;
  height: 109px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-div305 {
  position: absolute;
  top: 2419px;
  left: 0;
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 103px;
}
.copyright-1995-2022-ebay-inc22 {
  position: absolute;
  top: 2463px;
  left: 253px;
  font-size: var(--font-size-base);
  color: var(--color-gray-4100);
  text-align: center;
  display: inline-block;
  width: 937px;
}
.rectangle-div306 {
  position: absolute;
  top: 363px;
  left: 1100px;
  background-color: var(--color-gray-700);
  width: 13px;
  height: 14px;
}
.mask-group-icon59,
.star-25-icon3,
.star-26-icon3,
.star-27-icon3,
.star-28-icon3 {
  position: absolute;
  top: 481px;
  left: 639px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.mask-group-icon59,
.star-26-icon3,
.star-27-icon3,
.star-28-icon3 {
  left: 660px;
}
.mask-group-icon59,
.star-27-icon3,
.star-28-icon3 {
  left: 681px;
}
.mask-group-icon59,
.star-28-icon3 {
  left: 702px;
}
.mask-group-icon59 {
  left: 723px;
}
.replacement-1-icon2,
.touch-screen-3-icon2 {
  position: absolute;
  top: 1010px;
  left: 1168px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.touch-screen-3-icon2 {
  top: 357px;
  left: 1205px;
  width: 24px;
  height: 24px;
}
.rectangle-div307,
.rectangle-div308,
.rectangle-div309,
.rectangle-div310 {
  position: absolute;
  top: 1914px;
  left: 118px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-beige-100);
  box-sizing: border-box;
  width: 259px;
  height: 259px;
}
.rectangle-div308,
.rectangle-div309,
.rectangle-div310 {
  left: 434px;
}
.rectangle-div309,
.rectangle-div310 {
  left: 750px;
}
.rectangle-div310 {
  left: 1066px;
}
.sony-wh-1000xm4-headphones-and-icon2 {
  position: absolute;
  top: 1919px;
  left: 123px;
  border-radius: var(--br-3xl);
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.sony-wh-1000xm4-headphones-and-icon3,
.sony-wh-1000xm4-headphones-and-icon4,
.sony-wh-1000xm4-headphones-and-icon5 {
  position: absolute;
  top: 1919px;
  left: 439px;
  border-radius: var(--br-3xl);
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.sony-wh-1000xm4-headphones-and-icon4,
.sony-wh-1000xm4-headphones-and-icon5 {
  left: 755px;
}
.sony-wh-1000xm4-headphones-and-icon5 {
  left: 1071px;
}
.rectangle-div311,
.rectangle-div312,
.rectangle-div313,
.rectangle-div314,
.rectangle-div315 {
  position: absolute;
  top: 743px;
  left: 118px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1300);
  box-sizing: border-box;
  width: 96px;
  height: 96px;
}
.rectangle-div312,
.rectangle-div313,
.rectangle-div314,
.rectangle-div315 {
  left: 243px;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-1200);
}
.rectangle-div313,
.rectangle-div314,
.rectangle-div315 {
  left: 368px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1300);
}
.rectangle-div314,
.rectangle-div315 {
  left: 494px;
}
.rectangle-div315 {
  top: 278px;
  left: 135px;
  border-radius: var(--br-4xl);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-1200);
  width: 439px;
  height: 439px;
}
.ezgif-11-icon5 {
  position: absolute;
  top: 310.55px;
  left: 147.09px;
  width: 411.1px;
  height: 372.96px;
  object-fit: cover;
}
.ezgif-10-icon3,
.low-px7-front-space-grey-1-icon2 {
  position: absolute;
  top: 750px;
  left: 124px;
  width: 83px;
  height: 82px;
  object-fit: cover;
}
.ezgif-10-icon3 {
  top: 753px;
  left: 251px;
  width: 80px;
  height: 76px;
}
.ezgif-12-icon3,
.ezgif-9-icon3,
.shopping-cart-2-icon3 {
  position: absolute;
  top: 760px;
  left: 368px;
  width: 96px;
  height: 62px;
  object-fit: cover;
}
.ezgif-12-icon3,
.shopping-cart-2-icon3 {
  top: 755px;
  left: 494px;
  height: 71px;
}
.shopping-cart-2-icon3 {
  top: 36px;
  left: 1188px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.ellipse-icon59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 11px;
}
.div142 {
  position: absolute;
  top: 2px;
  left: 4px;
  font-weight: 500;
  display: inline-block;
}
.group-div9 {
  position: absolute;
  top: 33px;
  left: 1204px;
  width: 12px;
  height: 11px;
  font-size: var(--font-size-6xs);
  color: var(--color-white);
}
.arrow-icon7,
.go-to-cart1 {
  position: absolute;
  cursor: pointer;
}
.go-to-cart1 {
  top: 779px;
  left: 715px;
  display: inline-block;
}
.arrow-icon7 {
  top: 782.64px;
  left: 837px;
  width: 27px;
  height: 14.73px;
}
.buy-now-div5 {
  position: absolute;
  top: 780px;
  left: 1083px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
}
.mask-group-icon60 {
  position: absolute;
  top: 776px;
  left: 1038px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.div139 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2522px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
