:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-6xs: 7px;
  --font-size-5xs: 10px;
  --font-size-4xs: 12px;
  --font-size-3xs: 13px;
  --font-size-2xs: 13.5px;
  --font-size-xs: 14.5px;
  --font-size-sm: 14px;
  --font-size-base: 15px;
  --font-size-lg: 15.5px;
  --font-size-xl: 16.5px;
  --font-size-2xl: 16px;
  --font-size-3xl: 17px;
  --font-size-4xl: 17.5px;
  --font-size-5xl: 18px;
  --font-size-6xl: 19px;
  --font-size-7xl: 20px;
  --font-size-8xl: 21.5px;
  --font-size-9xl: 22px;
  --font-size-10xl: 23px;
  --font-size-11xl: 23.5px;
  --font-size-12xl: 24px;
  --font-size-13xl: 24.5px;
  --font-size-14xl: 25px;
  --font-size-15xl: 26px;
  --font-size-16xl: 28px;
  --font-size-17xl: 31px;
  --font-size-18xl: 32px;
  --font-size-19xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #f6f6f6;
  --color-gray-300: #f1f6ff;
  --color-gray-400: #f1f4f9;
  --color-gray-500: #feecec;
  --color-gray-600: #eaf2ff;
  --color-gray-700: #eaeaea;
  --color-gray-800: #d5e9ff;
  --color-gray-900: #e2e2e2;
  --color-gray-1000: #dedede;
  --color-gray-1100: #d9d9d9;
  --color-gray-1200: #d6d6d6;
  --color-gray-1300: #cecece;
  --color-gray-1400: #cdcdcd;
  --color-gray-1500: #c9c9c9;
  --color-gray-1600: #c4c4c4;
  --color-gray-1700: #bcbcbc;
  --color-gray-1800: #bbb;
  --color-gray-1900: #adadad;
  --color-gray-2000: #9a9a9a;
  --color-gray-2100: #838383;
  --color-gray-2200: #5c5c5c;
  --color-gray-2300: #3c5a9a;
  --color-gray-2400: #5a5a5a;
  --color-gray-2500: #525252;
  --color-gray-2600: #414141;
  --color-gray-2700: #353535;
  --color-gray-2800: #1c1014;
  --color-gray-2900: rgba(0, 0, 0, 0.8);
  --color-gray-3000: rgba(92, 92, 92, 0.8);
  --color-gray-3100: rgba(0, 0, 0, 0.65);
  --color-gray-3200: rgba(72, 72, 72, 0.7);
  --color-gray-3300: rgba(0, 0, 0, 0.45);
  --color-gray-3400: rgba(0, 0, 0, 0.75);
  --color-gray-3500: rgba(88, 88, 88, 0.6);
  --color-gray-3600: rgba(69, 69, 69, 0.7);
  --color-gray-3700: rgba(0, 0, 0, 0.71);
  --color-gray-3800: rgba(0, 0, 0, 0.5);
  --color-gray-3900: rgba(0, 0, 0, 0.9);
  --color-gray-4000: rgba(49, 49, 49, 0.45);
  --color-gray-4100: rgba(0, 0, 0, 0.7);
  --color-gray-4200: rgba(255, 255, 255, 0.25);
  --color-gray-4300: rgba(0, 0, 0, 0.66);
  --color-red-100: #f83030;
  --color-red-200: rgba(248, 48, 48, 0.85);
  --color-red-300: rgba(248, 48, 48, 0.09);
  --color-beige-100: #c0c0c0;
  --color-beige-200: #bebebe;
  --color-indigo-100: #0064d2;
  --color-indigo-200: rgba(0, 100, 210, 0.85);
  --color-indigo-300: rgba(0, 100, 210, 0.9);
  --color-green: #3f9a45;
  --color-orange: #ff9900;

  /* border radiuses */
  --br-7xs: 2px;
  --br-6xs: 4px;
  --br-5xs: 5px;
  --br-4xs: 6px;
  --br-3xs: 7px;
  --br-2xs: 8px;
  --br-xs: 10px;
  --br-sm: 13px;
  --br-md: 15px;
  --br-lg: 16px;
  --br-xl: 19px;
  --br-2xl: 21px;
  --br-3xl: 23px;
  --br-4xl: 26px;
  --br-5xl: 28.5px;
  --br-6xl: 50.9px;
}
