body {
  margin: 0;
  line-height: normal;
}
.rectangle-div235 {
  position: absolute;
  top: 2985px;
  left: 0;
  background-color: var(--color-gray-600);
  width: 1920px;
  height: 524px;
}
.d04-09cr-div4 {
  position: absolute;
  top: 3109px;
  left: 1540px;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.download-1-icon4,
.visa-1-icon4 {
  position: absolute;
  top: 3451px;
  left: 1579px;
  width: 40px;
  height: 26px;
  object-fit: cover;
}
.visa-1-icon4 {
  top: 3446px;
  left: 1721px;
  width: 39px;
  height: 36px;
}
.download-1-14,
.paypal-1-icon4,
.shakerx-baner-black-en-1-icon4 {
  position: absolute;
  top: 3451px;
  left: 1651px;
  width: 38px;
  height: 26px;
  object-fit: cover;
}
.download-1-14,
.shakerx-baner-black-en-1-icon4 {
  left: 1508px;
  width: 39px;
}
.shakerx-baner-black-en-1-icon4 {
  top: 2052px;
  left: 160px;
  width: 1600px;
  height: 226px;
}
.want-to-sell-your-products-on4 {
  position: absolute;
  top: 2089px;
  left: 194px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
}
.ezgif-1-icon4,
.rectangle-div236 {
  position: absolute;
  left: 160px;
  width: 1601px;
}
.ezgif-1-icon4 {
  top: 205px;
  height: 585px;
  object-fit: cover;
}
.rectangle-div236 {
  top: 788px;
  background-color: var(--color-gray-2800);
  height: 39px;
}
.line-div114 {
  position: absolute;
  top: 2985px;
  left: 240px;
  width: 1440px;
  height: 0;
}
.line-div115,
.line-div116,
.line-div117 {
  position: absolute;
  top: 100.5px;
  left: 159.5px;
  border-top: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 1601px;
  height: 1px;
}
.line-div116,
.line-div117 {
  top: 3177.5px;
  left: 160.5px;
  width: 1600px;
}
.line-div117 {
  top: 3425.5px;
  left: 159.5px;
  width: 1601px;
}
.blockbuster-deals-div2,
.featured-products-div2,
.top-brand-offers4 {
  position: absolute;
  top: 973px;
  left: 159px;
  font-size: var(--font-size-18xl);
  font-weight: 500;
  display: inline-block;
}
.featured-products-div2,
.top-brand-offers4 {
  top: 1600px;
  left: 158px;
}
.top-brand-offers4 {
  top: 2358px;
  left: 160px;
}
.search-for-products-brands7 {
  position: absolute;
  top: 39px;
  left: 364px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-4300);
  display: inline-block;
  width: 367px;
  height: 19px;
}
.nike-winflo-84,
.nike-winflo-85,
.nike-winflo-86,
.nike-winflo-87,
.nike-winflo-88,
.sony-div4 {
  position: absolute;
  top: 1332px;
  left: 218px;
  font-size: var(--font-size-12xl);
  display: inline-block;
}
.nike-winflo-85,
.nike-winflo-86,
.nike-winflo-87,
.nike-winflo-88,
.sony-div4 {
  left: 553px;
}
.nike-winflo-86,
.nike-winflo-87,
.nike-winflo-88,
.sony-div4 {
  left: 887px;
}
.nike-winflo-87,
.nike-winflo-88,
.sony-div4 {
  left: 1222px;
}
.nike-winflo-88,
.sony-div4 {
  left: 1556px;
}
.sony-div4 {
  top: 2720px;
  left: 259px;
}
.lorem-ipsum-dolor-sit-amet,
.lorem-ipsum-dolor-sit-amet-co {
  position: absolute;
  top: 3022px;
  left: 159px;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.lorem-ipsum-dolor-sit-amet-co {
  top: 3043px;
}
.follow-us-div3,
.lorem-ipsum-dolor-sit-amet-co1,
.nunc-vulputate-libero-et-velit,
.tools-apps {
  position: absolute;
  top: 3064px;
  left: 159px;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.follow-us-div3,
.lorem-ipsum-dolor-sit-amet-co1,
.tools-apps {
  top: 3109px;
}
.follow-us-div3,
.tools-apps {
  top: 3022px;
  left: 1207px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
}
.tools-apps {
  left: 846px;
}
.buy-div3,
.contact-us-div3,
.my-account-div3,
.our-offers-div3,
.sell-div4,
.services-div6,
.useful-links-div {
  position: absolute;
  top: 3218px;
  left: 160px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  display: inline-block;
}
.contact-us-div3,
.my-account-div3,
.our-offers-div3,
.sell-div4,
.services-div6,
.useful-links-div {
  left: 450px;
}
.contact-us-div3,
.my-account-div3,
.our-offers-div3,
.services-div6,
.useful-links-div {
  left: 742px;
}
.contact-us-div3,
.my-account-div3,
.our-offers-div3,
.useful-links-div {
  left: 1034px;
}
.contact-us-div3,
.our-offers-div3,
.useful-links-div {
  left: 1327px;
}
.contact-us-div3,
.our-offers-div3 {
  left: 1620px;
}
.contact-us-div3 {
  top: 3022px;
  left: 1539px;
  width: 294px;
}
.about-us-div,
.about-us-div1,
.twitter-div,
.twitter-div1 {
  position: absolute;
  top: 3057px;
  left: 1207px;
  display: inline-block;
}
.about-us-div,
.about-us-div1,
.twitter-div1 {
  left: 846px;
}
.about-us-div,
.about-us-div1 {
  top: 3262px;
  left: 451px;
}
.about-us-div1 {
  left: 1328px;
}
.about-us-div2,
.about-us-div3,
.about-us-div4,
.about-us-div5 {
  position: absolute;
  top: 3262px;
  left: 1035px;
  display: inline-block;
}
.about-us-div3,
.about-us-div4,
.about-us-div5 {
  left: 743px;
}
.about-us-div4,
.about-us-div5 {
  left: 160px;
}
.about-us-div5 {
  left: 1621px;
}
.consectetur-adipiscing-elit,
.lorem-ipsum-dolor-sit-amet1 {
  position: absolute;
  top: 3057px;
  left: 1540px;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.lorem-ipsum-dolor-sit-amet1 {
  top: 3076px;
}
.facebook-div {
  position: absolute;
  top: 3092px;
  left: 1207px;
  display: inline-block;
}
.facebook-div1,
.information-div,
.information-div1 {
  position: absolute;
  top: 3092px;
  left: 846px;
  display: inline-block;
}
.information-div,
.information-div1 {
  top: 3297px;
  left: 451px;
}
.information-div1 {
  left: 1328px;
}
.information-div2,
.information-div3,
.information-div4 {
  position: absolute;
  top: 3297px;
  left: 1035px;
  display: inline-block;
}
.information-div3,
.information-div4 {
  left: 743px;
}
.information-div4 {
  left: 160px;
}
.ebays-blogs-div,
.ebays-blogs-div1,
.information-div5 {
  position: absolute;
  top: 3297px;
  left: 1621px;
  display: inline-block;
}
.ebays-blogs-div,
.ebays-blogs-div1 {
  top: 3126px;
  left: 1207px;
}
.ebays-blogs-div1 {
  left: 846px;
}
.privacy-policy-div,
.privacy-policy-div1,
.privacy-policy-div2 {
  position: absolute;
  top: 3331px;
  left: 451px;
  display: inline-block;
}
.privacy-policy-div1,
.privacy-policy-div2 {
  left: 1328px;
}
.privacy-policy-div2 {
  left: 1035px;
}
.privacy-policy-div3,
.privacy-policy-div4,
.privacy-policy-div5 {
  position: absolute;
  top: 3331px;
  left: 743px;
  display: inline-block;
}
.privacy-policy-div4,
.privacy-policy-div5 {
  left: 160px;
}
.privacy-policy-div5 {
  left: 1621px;
}
.terms-conditions24,
.terms-conditions25,
.terms-conditions26 {
  position: absolute;
  top: 3365px;
  left: 451px;
  display: inline-block;
}
.terms-conditions25,
.terms-conditions26 {
  left: 1328px;
}
.terms-conditions26 {
  left: 1035px;
}
.terms-conditions27,
.terms-conditions28,
.terms-conditions29 {
  position: absolute;
  top: 3365px;
  left: 743px;
  display: inline-block;
}
.terms-conditions28,
.terms-conditions29 {
  left: 160px;
}
.terms-conditions29 {
  left: 1621px;
}
.starting-div16 {
  left: 230px;
}
.div100,
.div101,
.starting-div16 {
  position: absolute;
  top: 2756px;
  font-size: var(--font-size-7xl);
  display: inline-block;
}
.div100 {
  left: 306px;
  color: var(--color-red-100);
}
.div101 {
  left: 642px;
}
.div101,
.div102,
.div103 {
  color: var(--color-red-100);
}
.div102 {
  position: absolute;
  top: 2756px;
  left: 976px;
  font-size: var(--font-size-7xl);
  display: inline-block;
}
.div103 {
  left: 1311px;
}
.div103,
.div104,
.starting-div17,
.starting-div18,
.starting-div19,
.starting-div20 {
  position: absolute;
  top: 2756px;
  font-size: var(--font-size-7xl);
  display: inline-block;
}
.div104 {
  left: 1645px;
  color: var(--color-red-100);
}
.starting-div17,
.starting-div18,
.starting-div19,
.starting-div20 {
  left: 566px;
}
.starting-div18,
.starting-div19,
.starting-div20 {
  left: 900px;
}
.starting-div19,
.starting-div20 {
  left: 1235px;
}
.starting-div20 {
  left: 1569px;
}
.sony-div5,
.sony-div6,
.sony-div7,
.sony-div8 {
  position: absolute;
  top: 2720px;
  left: 595px;
  font-size: var(--font-size-12xl);
  display: inline-block;
}
.sony-div6,
.sony-div7,
.sony-div8 {
  left: 930px;
}
.sony-div7,
.sony-div8 {
  left: 1266px;
}
.sony-div8 {
  left: 1600px;
}
.collectibles-arts8,
.electronics-div,
.fashion-clothing {
  position: absolute;
  top: 142px;
  left: 752px;
  font-size: var(--font-size-3xl);
  display: inline-block;
}
.electronics-div,
.fashion-clothing {
  left: 254px;
}
.fashion-clothing {
  left: 412px;
}
.home-garden8,
.musical-instruments-gears,
.other-categories-div,
.sports-div,
.toys-hobbies8 {
  position: absolute;
  top: 142px;
  left: 628px;
  font-size: var(--font-size-3xl);
  display: inline-block;
}
.home-garden8,
.musical-instruments-gears,
.other-categories-div,
.toys-hobbies8 {
  left: 965px;
}
.musical-instruments-gears,
.other-categories-div,
.toys-hobbies8 {
  left: 1159px;
}
.other-categories-div,
.toys-hobbies8 {
  left: 1449px;
}
.other-categories-div {
  left: 1635px;
}
.rectangle-div237 {
  position: absolute;
  top: 24px;
  left: 332px;
  border-radius: var(--br-6xs);
  border: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 793px;
  height: 49px;
}
.rectangle-div238,
.rectangle-div239,
.rectangle-div240,
.rectangle-div241,
.rectangle-div242,
.rectangle-div243,
.rectangle-div244,
.rectangle-div245,
.rectangle-div246 {
  position: absolute;
  top: 1055px;
  left: 162px;
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 259px;
  height: 259px;
}
.rectangle-div239,
.rectangle-div240,
.rectangle-div241,
.rectangle-div242,
.rectangle-div243,
.rectangle-div244,
.rectangle-div245,
.rectangle-div246 {
  left: 497px;
}
.rectangle-div240,
.rectangle-div241,
.rectangle-div242,
.rectangle-div243,
.rectangle-div244,
.rectangle-div245,
.rectangle-div246 {
  left: 831px;
}
.rectangle-div241,
.rectangle-div242,
.rectangle-div243,
.rectangle-div244,
.rectangle-div245,
.rectangle-div246 {
  left: 1166px;
}
.rectangle-div242,
.rectangle-div243,
.rectangle-div244,
.rectangle-div245,
.rectangle-div246 {
  left: 1500px;
}
.rectangle-div243,
.rectangle-div244,
.rectangle-div245,
.rectangle-div246 {
  top: 1682px;
  left: 160px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-1100);
  width: 174px;
  height: 174px;
}
.rectangle-div244,
.rectangle-div245,
.rectangle-div246 {
  top: 1684px;
  left: 574px;
}
.rectangle-div245,
.rectangle-div246 {
  left: 986px;
}
.rectangle-div246 {
  left: 1398px;
}
.group-icon13 {
  position: absolute;
  top: 143px;
  left: 160px;
  width: 24px;
  height: 15.5px;
}
.rectangle-button37 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  position: absolute;
  top: 871px;
  left: 1564px;
  border-radius: var(--br-3xs);
  width: 196px;
  height: 49px;
}
.rectangle-div247,
.rectangle-div248,
.rectangle-div249 {
  position: absolute;
  top: 1468px;
  left: 829px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 231px;
  height: 53px;
}
.rectangle-div248,
.rectangle-div249 {
  top: 1924px;
  left: 846px;
}
.rectangle-div249 {
  top: 2845px;
}
.shop-now-div4 {
  position: absolute;
  top: 883px;
  left: 1590px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  display: inline-block;
}
.explore-other-brands4,
.see-all-deals4,
.show-more-div6 {
  position: absolute;
  top: 1482px;
  left: 882px;
  font-size: var(--font-size-9xl);
  text-align: center;
  display: inline-block;
}
.explore-other-brands4,
.show-more-div6 {
  top: 1938px;
  left: 906px;
}
.explore-other-brands4 {
  top: 2859px;
  left: 860px;
  font-size: var(--font-size-8xl);
}
.arrow-icon6 {
  position: absolute;
  top: 889.64px;
  left: 1708px;
  width: 27px;
  height: 14.73px;
}
.fitbit-versa-lite4 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.edition-pedometer4 {
  margin: 0;
}
.fitbit-versa-lite-edition-pe4,
.fitbit-versa-lite-edition-pe5,
.fitbit-versa-lite-edition-pe6,
.fitbit-versa-lite-edition-pe7 {
  position: absolute;
  top: 1695px;
  left: 364px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
}
.fitbit-versa-lite-edition-pe5,
.fitbit-versa-lite-edition-pe6,
.fitbit-versa-lite-edition-pe7 {
  left: 777px;
}
.fitbit-versa-lite-edition-pe6,
.fitbit-versa-lite-edition-pe7 {
  left: 1188px;
}
.fitbit-versa-lite-edition-pe7 {
  left: 1600px;
}
.div105,
.div106,
.div107,
.div108,
.div109,
.div110 {
  position: absolute;
  top: 1782px;
  display: inline-block;
}
.div105 {
  left: 364px;
  font-size: var(--font-size-4xl);
  color: var(--color-red-100);
}
.div106,
.div107,
.div108,
.div109,
.div110 {
  left: 428px;
  color: var(--color-gray-4000);
}
.div107,
.div108,
.div109,
.div110 {
  left: 841px;
}
.div108,
.div109,
.div110 {
  left: 1252px;
}
.div109,
.div110 {
  left: 1664px;
}
.div110 {
  left: 777px;
  font-size: var(--font-size-4xl);
  color: var(--color-red-100);
}
.span7 {
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.div111,
.div112 {
  position: absolute;
  top: 1782px;
  left: 1188px;
  display: inline-block;
  font-size: var(--font-size-4xl);
  color: var(--color-red-100);
}
.div112 {
  left: 1600px;
}
.line-div118,
.line-div119,
.line-div120,
.line-div121 {
  position: absolute;
  top: 1791.5px;
  left: 423.5px;
  border-top: 1px solid var(--color-gray-2000);
  box-sizing: border-box;
  width: 56px;
  height: 1px;
}
.line-div119,
.line-div120,
.line-div121 {
  left: 836.5px;
}
.line-div120,
.line-div121 {
  left: 1247.5px;
}
.line-div121 {
  left: 1659.5px;
}
.copyright-1995-2022-ebay-inc17 {
  position: absolute;
  top: 3457px;
  left: 159px;
  font-size: var(--font-size-base);
  color: var(--color-gray-4100);
  display: inline-block;
}
.rectangle-div250 {
  position: absolute;
  top: 26px;
  left: 1595px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-red-100);
  box-sizing: border-box;
  width: 165px;
  height: 45px;
}
.rectangle-div251,
.rectangle-div252 {
  position: absolute;
  top: 573px;
  left: 229px;
  border-radius: var(--br-6xs);
  background-color: var(--color-indigo-100);
  width: 133px;
  height: 45px;
}
.rectangle-div252 {
  left: 393px;
  background-color: var(--color-gray-4200);
  border: 1px solid var(--color-gray-2100);
  box-sizing: border-box;
  width: 206px;
}
.buy-now-div4,
.login-sign-up1,
.with-900-with-trade-in4 {
  position: absolute;
  font-size: var(--font-size-3xl);
  display: inline-block;
}
.login-sign-up1 {
  top: 38px;
  left: 1601px;
  font-weight: 500;
  color: var(--color-red-200);
  text-align: center;
  width: 153px;
}
.buy-now-div4,
.with-900-with-trade-in4 {
  top: 586px;
  left: 247px;
  color: var(--color-white);
}
.with-900-with-trade-in4 {
  left: 409px;
}
.ebay-1-icon3,
.mask-group-icon43 {
  position: absolute;
  top: 0;
  left: 160px;
  width: 109px;
  height: 109px;
  object-fit: cover;
}
.mask-group-icon43 {
  top: 39px;
  left: 1074px;
  width: 20px;
  height: 20px;
}
.ellipse-icon47,
.ellipse-icon48,
.ellipse-icon49 {
  position: absolute;
  top: 801px;
  left: 851px;
  width: 13px;
  height: 13px;
}
.ellipse-icon48,
.ellipse-icon49 {
  left: 891px;
}
.ellipse-icon49 {
  left: 931px;
}
.ellipse-icon50,
.ellipse-icon51,
.ellipse-icon52,
.group-icon14 {
  position: absolute;
  top: 801px;
  left: 971px;
  width: 13px;
  height: 13px;
}
.ellipse-icon51,
.ellipse-icon52,
.group-icon14 {
  left: 1011px;
}
.ellipse-icon52,
.group-icon14 {
  left: 1051px;
}
.group-icon14 {
  top: 453px;
  left: 1669.17px;
  width: 36.33px;
  height: 67px;
}
.mask-group-icon44 {
  position: absolute;
  top: 584px;
  left: 323px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.ezgif-2-icon3,
.ezgif-3-icon,
.ezgif-4-icon,
.ezgif-5-icon,
.ezgif-9-icon2 {
  position: absolute;
  top: 1072px;
  left: 509px;
  width: 235px;
  height: 226px;
  object-fit: cover;
}
.ezgif-2-icon3,
.ezgif-4-icon,
.ezgif-5-icon,
.ezgif-9-icon2 {
  left: 843px;
}
.ezgif-2-icon3,
.ezgif-5-icon,
.ezgif-9-icon2 {
  left: 1178px;
}
.ezgif-2-icon3,
.ezgif-9-icon2 {
  left: 1512px;
}
.ezgif-2-icon3 {
  left: 174px;
}
.ezgif-10-icon2,
.ezgif-6-icon4,
.ezgif-7-icon,
.ezgif-8-icon,
.star-1-icon4 {
  position: absolute;
  top: 1696px;
  left: 173px;
  width: 154px;
  height: 149px;
  object-fit: cover;
}
.ezgif-10-icon2,
.ezgif-7-icon,
.ezgif-8-icon,
.star-1-icon4 {
  top: 1698px;
  left: 587px;
}
.ezgif-10-icon2,
.ezgif-8-icon,
.star-1-icon4 {
  left: 998px;
}
.ezgif-10-icon2,
.star-1-icon4 {
  left: 1410px;
}
.star-1-icon4 {
  top: 1825px;
  left: 364px;
  width: 15px;
  height: 15px;
}
.star-13-icon1,
.star-2-icon4,
.star-5-icon4,
.star-6-icon4,
.star-9-icon4 {
  position: absolute;
  top: 1825px;
  left: 777px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.star-13-icon1,
.star-2-icon4,
.star-6-icon4,
.star-9-icon4 {
  left: 1188px;
}
.star-13-icon1,
.star-2-icon4,
.star-6-icon4 {
  left: 1600px;
}
.star-2-icon4,
.star-6-icon4 {
  left: 385px;
}
.star-6-icon4 {
  left: 798px;
}
.star-10-icon4,
.star-11-icon4,
.star-14-icon1,
.star-3-icon4,
.star-7-icon4 {
  position: absolute;
  top: 1825px;
  left: 1209px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.star-11-icon4,
.star-14-icon1,
.star-3-icon4,
.star-7-icon4 {
  left: 1621px;
}
.star-11-icon4,
.star-3-icon4,
.star-7-icon4 {
  left: 406px;
}
.star-11-icon4,
.star-7-icon4 {
  left: 819px;
}
.star-11-icon4 {
  left: 1230px;
}
.star-12-icon4,
.star-15-icon1,
.star-16-icon1,
.star-4-icon4,
.star-8-icon4 {
  position: absolute;
  top: 1825px;
  left: 1642px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.star-12-icon4,
.star-16-icon1,
.star-4-icon4,
.star-8-icon4 {
  left: 427px;
}
.star-12-icon4,
.star-16-icon1,
.star-8-icon4 {
  left: 840px;
}
.star-12-icon4,
.star-16-icon1 {
  left: 1251px;
}
.star-16-icon1 {
  left: 1663px;
}
.mask-group-icon45,
.mask-group-icon46,
.mask-group-icon47,
.mask-group-icon48 {
  position: absolute;
  top: 1825px;
  left: 448px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.mask-group-icon46,
.mask-group-icon47,
.mask-group-icon48 {
  left: 861px;
}
.mask-group-icon47,
.mask-group-icon48 {
  left: 1272px;
}
.mask-group-icon48 {
  left: 1684px;
}
.help-contact17,
.sell-div5,
.services-div7 {
  position: absolute;
  top: 41px;
  left: 1419px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.sell-div5,
.services-div7 {
  left: 1287px;
}
.sell-div5 {
  left: 1190px;
}
.rectangle-div253 {
  position: absolute;
  top: 2151px;
  left: 195px;
  border-radius: var(--br-4xs);
  background-color: var(--color-indigo-100);
  width: 184px;
  height: 45px;
}
.start-selling-div4 {
  position: absolute;
  top: 2162px;
  left: 232px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
}
.rectangle-div254,
.rectangle-div255,
.rectangle-div256,
.rectangle-div257,
.rectangle-div258 {
  position: absolute;
  top: 1370px;
  left: 227px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-300);
  width: 130px;
  height: 32px;
}
.rectangle-div255,
.rectangle-div256,
.rectangle-div257,
.rectangle-div258 {
  left: 562px;
}
.rectangle-div256,
.rectangle-div257,
.rectangle-div258 {
  left: 896px;
}
.rectangle-div257,
.rectangle-div258 {
  left: 1234px;
}
.rectangle-div258 {
  left: 1568px;
}
.off-div28,
.off-div29,
.off-div30,
.off-div31,
.off-div32 {
  position: absolute;
  top: 1376px;
  left: 248px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-100);
  display: inline-block;
}
.off-div29,
.off-div30,
.off-div31,
.off-div32 {
  left: 583px;
}
.off-div30,
.off-div31,
.off-div32 {
  left: 915px;
}
.off-div31,
.off-div32 {
  left: 1256px;
}
.off-div32 {
  left: 1590px;
}
.rectangle-div259,
.rectangle-div260,
.rectangle-div261,
.rectangle-div262,
.rectangle-div263 {
  position: absolute;
  top: 2443px;
  left: 161px;
  border-radius: var(--br-2xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-beige-100);
  box-sizing: border-box;
  width: 259px;
  height: 259px;
}
.rectangle-div260,
.rectangle-div261,
.rectangle-div262,
.rectangle-div263 {
  left: 497px;
}
.rectangle-div261,
.rectangle-div262,
.rectangle-div263 {
  left: 831px;
}
.rectangle-div262,
.rectangle-div263 {
  left: 1166px;
}
.rectangle-div263 {
  left: 1500px;
}
.image-1-icon4,
.image-2-icon,
.image-3-icon,
.image-4-icon,
.image-5-icon3 {
  position: absolute;
  top: 2470px;
  left: 174px;
  width: 233px;
  height: 205px;
  object-fit: cover;
}
.image-2-icon,
.image-3-icon,
.image-4-icon,
.image-5-icon3 {
  left: 510px;
}
.image-3-icon,
.image-4-icon,
.image-5-icon3 {
  left: 844px;
}
.image-4-icon,
.image-5-icon3 {
  left: 1179px;
}
.image-5-icon3 {
  left: 1513px;
}
.screen-1-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3509px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .rectangle-button37 {
    cursor: default;
  }
}
